body {
    text-align: center;
}

.page-header {
    text-transform: uppercase;
    margin: 50px;
}

.page-header img {
    margin: auto;
    width: 204px;
    height: 204px;
}

.fieldset {
    border: none;
    margin: 10px;
}

input {
    margin-right: 15px;
}

.error-message {
  color : red;
}

 .success-message {
  color: green;
}

 .hidden {
     display: none;
 }