* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.page-header {
    text-transform: uppercase;
    margin: 40px;
}

.page-header img {
    margin: auto;
    width: 204px;
    height: 204px;
}

.fieldset {
    border: none;
    margin: 10px;
}

input {
    margin-right: 15px;
}

label {
    display: block;
    margin-top: 20px;
}

label:first-of-type {
    margin-top: 0;
}

table, tr,td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.form-group {
    margin-bottom: 30px;
}

button {
    padding: 10px;
    font-weight: 800;
}

.error-message {
  color : red;
}

.success-message {
  color: green;
}

 .hidden {
     display: none;
 }